@import "tailwindcss";

@theme {
  --animate-float: float 4s ease-in-out infinite;
  @keyframes float {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* make the container full height */
}
